{% extends "page.html" %}
{% block content %}
    <h2>Agendamentos</h2>
    
    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>

    <ul>
        {% for evento in eventos %}
        <li>
            <div style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
                <strong>
                    {{evento.titulo}} - {{evento.local}} - {{evento.get_data_evento}}
                </strong>
                &nbsp;<a href="evento/?id={{ evento.id }}"><button type="button">Editar</button></a>&nbsp;
                <a href="evento/delete/{{ evento.id }}"><button type="button">Excluir</button></a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
    
